*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.headerImg h2{
    text-align: center;
    font-family:serif;
    font-size: 50px; 
}
.navbar-brand_ {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	text-align: center;
	padding: 0;
	margin: 68px auto 60px;
}
.navbar-brand_ img {
	max-width: 100%;
}
.navbar-brand_a:hover {
	text-decoration: none;
}
.footer{
    width: 100%;
}
.ropaProductos h3{
    text-align: center;
    font-family:serif;
    }
    .contenedorProducto{
        display: flex;
        justify-content: center;
        padding: 40px;
        font-family:serif;
        font-weight: 30px;
    }
    .cajaProducto{
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        border-radius: 10px;
    }
    .cajaProducto img{
        width: 295px;
        padding: 6px;
    }
    .textoMC{
        margin-left: 35px;
    }
    .ropaTC{
        color: #ab2480; 
        text-decoration: underline;
        height: 20px;
        font-size: 40px;
    }
    .btn{
        width: 200px;
        margin-left: 45px;
        margin-bottom: 3px;
        background-color: #ab2480;
        color: white;
        border-radius: 5px;
        border: 0px;
    }